.App.dark {
    --bg-color: #0022ac;
    --inverted-bg-color: #eee;
    --primary-color: #060606;
    --secondary-color: #ed0a0a;
    --inverted-primary-color: #000;
    --inverted-secondary-color: #010107;
}
