.App.dark{
    --bg-color:#0022ac;
    --inverted-bg-color:#858689;

    --primary-color:#15760a;
    --secondary-color:#25d712;

    --inverted-primary-color:#071a94;
    --inverted-secondary-color:#1a0be8;
}