.App.dark{
    --bg-color:#0022ac;
    --inverted-bg-color:#eeeeee;

    --primary-color:#060606;
    --secondary-color:#ed0a0a;

    --inverted-primary-color:#000000;
    --inverted-secondary-color:#010107;
}