.App.normal {
    --bg-color: #e4e5e9;
    --inverted-bg-color: #0022ac;
    --primary-color: #000;
    --secondary-color: #1a0be8;
    --inverted-primary-color: #e5e5e5;
    --inverted-secondary-color: #0c0d0c;
    
}
