.App.normal{
    --bg-color:#858689;
    --inverted-bg-color:#0022ac;

    --primary-color:#071a94;
    --secondary-color:#1a0be8;

    --inverted-primary-color:#15760a;
    --inverted-secondary-color:#25d712;
}