.AppLink {
    color: var(--primary-color);
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--inverted-primary-color);
}
